<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Spring Security SAML2</title>
    </head>
    <body style="background-color: aquamarine;">
        <h1>SAML2 Login Example with Spring Security 5.2</h1>
       
        <div><b>You are logged in as</b>: <span sec:authentication="principal.attributes[email]"></span></div>
         <div>Your name auth is <span sec:authentication="name"></span></div>
        <div>principal: <span sec:authentication="principal"></span></div>
        <div>principal.name: <span sec:authentication="principal.name"></span></div>
        <div>principal.attributes: <span sec:authentication="principal.attributes"></span></div>
<!--         <div>principal.attributes: <span sec:authentication="principal.attributes"></span></div> -->
<!--         <div>principal.attributes: <span sec:authentication="principal.attributes"></span></div> -->
      
         <div>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
            
        </div>
        
        <div>
            <form th:action="@{http://localhost:8080/simplesaml/saml2/idp/SingleLogoutService.php}" method="post">
                <input type="hidden" NAME="SAMLResponse" VALUE="PHNhbWxwOlJlc3BvbnNlIHhtbG5zOnNhb...Base64 encoded SAML LogoutRequest">
                <input type="submit" value="SAMLOGOUT" />
            </form>
            
        </div>
        
        
    </body>
</html>